<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>عمومی</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> خانه <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/">داشبورد</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> سند فروش <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/sales-ledgers/create/">ایجاد سند فروش</a></li>
                    <li><a href="/sales-ledgers/">لیست سند فروش</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i>شرکت ها <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/companies/create/">ایجاد شرکت</a></li>
                    <li><a href="/companies/">لیست شرکت ها</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> سرویس ها <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/services/create/">ایجاد سرویس</a></li>
                    <li><a href="/services/">لیست سرویس ها</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> کاربران <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/users/create/">ایجاد کاربر</a></li>
                    <li><a href="/users/">لیست کاربران</a></li>
                </ul>
            </li>
        </ul>
    </div>
    

</div>