{% load custom_tags %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>عمومی</h3>
        <ul class="nav side-menu">
            
            {% if permissions|has_permission:"VIEW_DASHBOARD" %}
            <li><a href="/dashboard/"><i class="fa fa-dashboard"></i> داشبورد </a>
            </li> 
            {% endif %}
            
            {% if permissions|has_permission:"VIEW_ALL_INVOICES_LIST" or permissions|has_permission:"CREATE_INVOICE" or permissions|has_permission:"VIEW_OWN_INVOICES_LIST" %}
            <li><a><i class="fa fa-shopping-cart"></i> فروش <span class="badge bg-green hidden" id="new-sales-ledger-count">0</span><span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    {% if permissions|has_permission:"CREATE_INVOICE" %}
                        <li><a href="/sales-ledger/create/">ایجاد فاکتور </a></li>
                    {% endif %}
                    {% if permissions|has_permission:"VIEW_ALL_INVOICES_LIST" or permissions|has_permission:"VIEW_OWN_INVOICES_LIST" %}
                        <li><a href="/sales-ledger/">لیست فاکتورها </a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if permissions|has_permission:"VIEW_ALL_CUSTOMERS_LIST" or permissions|has_permission:"CREATE_ALL_CUSTOMERS" %}
            <li><a><i class="fa fa-phone"></i> مشترکین <span class="badge bg-green hidden" id="new-sales-ledger-count">0</span><span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    {% if permissions|has_permission:"CREATE_ALL_CUSTOMERS" %}
                        <li><a href="/customers/create/">ایجاد مشترک </a></li>
                    {% endif %}
                    {% if permissions|has_permission:"VIEW_ALL_CUSTOMERS_LIST" %}
                        <li><a href="/customers/">لیست مشترکین </a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if permissions|has_permission:"VIEW_ALL_COMPANIES_LIST" or permissions|has_permission:"CREATE_ALL_COMPANIES" %}
            <li><a><i class="fa fa-building"></i>شرکت ها <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    {% if permissions|has_permission:"CREATE_ALL_COMPANIES" %}
                        <li><a href="/companies/create/">ایجاد شرکت</a></li>
                    {% endif %}
                    {% if permissions|has_permission:"VIEW_ALL_COMPANIES_LIST" %}
                        <li><a href="/companies/">لیست شرکت ها</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if permissions|has_permission:"VIEW_ALL_PRODUCTS_LIST" or permissions|has_permission:"CREATE_ALL_PRODUCTS" %}
            <li><a><i class="fa fa-product-hunt"></i> محصولات <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    {% if permissions|has_permission:"CREATE_ALL_PRODUCTS" %}
                        <li><a href="/products/create/">ایجاد محصول</a></li>
                    {% endif %}
                    {% if permissions|has_permission:"VIEW_ALL_PRODUCTS_LIST" %}
                        <li><a href="/products/">لیست محصولات</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if permissions|has_permission:"VIEW_ALL_SERVICES_LIST" or permissions|has_permission:"CREATE_ALL_SERVICES" %}
                <li><a><i class="fa fa-cogs"></i> سرویس ها <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if permissions|has_permission:"CREATE_ALL_SERVICES" %}
                            <li><a href="/services/create/">ایجاد سرویس</a></li>
                        {% endif %}
                        {% if permissions|has_permission:"VIEW_ALL_SERVICES_LIST" %}
                            <li><a href="/services/">لیست سرویس ها</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if permissions|has_permission:"VIEW_ALL_USERS_LIST" or permissions|has_permission:"CREATE_ALL_USERS" %}
                <li><a><i class="fa fa-users"></i> کاربران <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if permissions|has_permission:"CREATE_ALL_USERS" %}
                            <li><a href="/users/create/">ایجاد کاربر</a></li>
                        {% endif %}
                        {% if permissions|has_permission:"VIEW_ALL_USERS_LIST" %}
                        <li><a href="/users/">لیست کاربران</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if permissions|has_permission:"VIEW_ALL_ROLES_LIST" or permissions|has_permission:"CREATE_ALL_ROLES" %}
                <li><a><i class="fa fa-lock"></i> گروه ها و سطوح دسترسی <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if permissions|has_permission:"CREATE_ALL_ROLES" %}
                            <li><a href="/roles/create/">ایجاد گروه</a></li>
                        {% endif %}
                        {% if permissions|has_permission:"VIEW_ALL_ROLES_LIST" %}
                            <li><a href="/roles/">لیست گروه ها</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        var url = '/api/salesman/sales-ledger/new';
        $.ajax({
            type: 'GET',
            {% if permissions|has_permission:"CREATE_INVOICE" and permissions|has_permission:"VIEW_OWN_INVOICES_LIST" and permissions|has_permission:"VIEW_ALL_INVOICES_LIST" %}
            url: url + '?status=PENDING,REJECTED',
            {% elif permissions|has_permission:"VIEW_ALL_INVOICES_LIST" and not permissions|has_permission:"CREATE_INVOICE" %}
            url: url + '?status=PENDING',
            {% elif permissions|has_permission:"VIEW_OWN_INVOICES_LIST" and permissions|has_permission:"CREATE_INVOICE" %}
            url: url + '?status=REJECTED&operator_id={{ current_user }}',
            {% endif %}
            dataType: 'json',
            success: function (data) {
                if (data.count > 0) {
                    $('#new-sales-ledger-count').text(data.count);
                    $('#new-sales-ledger-count').removeClass('hidden');
                } else {
                    $('#new-sales-ledger-count').addClass('hidden');
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    });
</script>