{% load static %}
<div class="top_nav hidden-print">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{% static 'build/images/img.jpg' %}" alt="">{{ request.user.first_name }} {{ request.user.last_name }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a id="logout-link"><i class="fa fa-sign-out pull-right"></i> خروج</a></li>
                    </ul>
                </li>

                
            </ul>
        </nav>
    </div>
    <script>
        $('#logout-link').on('click', function(e) {
          e.preventDefault();
          document.cookie = "access=; path=/; SameSite=Strict;";
          document.cookie = "refresh=; path=/; SameSite=Strict;";
          window.location.href = '/login/';
        });
    </script>
</div>