{% extends "layouts/base.html" %}
{% load custom_tags %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>ایجاد و ویرایش گروه</h3>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            {% if permissions|has_permission:"VIEW_ALL_USERS" %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>اطلاعات گروه</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="role-form" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">عنوان
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="title" required="required" 
                                    {% if edit == True and not permissions|has_permission:"UPDATE_ALL_ROLES" %}
                                        readonly="readonly"
                                    {% endif %}
                                        class="form-control col-md-7 col-xs-12">
                                    <span class="fa fa-tag form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">توضیحات</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="description" class="form-control col-md-7 col-xs-12"
                                    {% if edit == True and not permissions|has_permission:"UPDATE_ALL_ROLES" %}
                                        readonly="readonly"
                                    {% endif %}    
                                    ></textarea>
                                    <span class="fa fa-info-circle form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    
                                    {% if edit == False and permissions|has_permission:"CREATE_ALL_ROLES" %}
                                        <button type="submit" class="btn btn-success">
                                            ایجاد گروه
                                        </button>
                                    {% elif edit == True and permissions|has_permission:"UPDATE_ALL_ROLES" %}
                                        <button type="submit" class="btn btn-success">
                                            ویرایش گروه
                                        </button>
                                    {% endif %}
                                    
                                    {% if edit == True %}
                                        {% if permissions|has_permission:"DELETE_ALL_ROLES" %}
                                            <button type="button" class="btn btn-danger pull-left" onclick="deleteRole()">حذف گروه</button>
                                        {% endif %}
                                        {% if permissions|has_permission:"CREATE_ALL_ROLES" %}
                                            <a class="btn btn-primary pull-left" href="/roles/create/">ایجاد گروه جدید</a>
                                        {% endif %}
                                    {% endif %}
                                    
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="clearfix"></div>


            {% if edit == True %}
                {% if permissions|has_permission:"VIEW_ROLE_PERMISSIONS" %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>دسترسی ها</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th>
                                                    <div class="icheckbox_flat-green" style="position: relative;"><input
                                                            type="checkbox" id="check-all" class="flat"
                                                            style="position: absolute; opacity: 0;"><ins class="iCheck-helper"
                                                            style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                </th>
                                                <th class="column-title">عنوان دسترسی</th>
                                                <th class="column-title">توضیحات</th>
                                                <th class="column-title">دسترسی دارد؟</th>
                                                <th class="column-title no-link last">عملیات</th>
                                            </tr>
                                        </thead>

                                        <tbody id="roles-tbody">
                                        </tbody>
                                        <script>
                                            
                                            function addPermission(permissionId) {
                                                $.ajax({
                                                    url: '/api/salesman/roles/{{ role_id }}/permission/' + permissionId,
                                                    method: 'POST',
                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        new PNotify({
                                                            title: 'دسترسی با موفقیت اعطا شد.',
                                                            text: 'دسترسی با موفقیت اعطا شد.',
                                                            type: 'success',
                                                            styling: 'bootstrap3'
                                                        });
                                                        loadPermissions()
                                                    },
                                                    error: function (xhr, status, error) {
                                                        new PNotify({
                                                            title: 'خطا در اعطای دسترسی',
                                                            text: xhr.responseText,
                                                            type: 'error',
                                                            styling: 'bootstrap3'
                                                        });
                                                    }
                                                });
                                            }

                                            function removePermission(permissionId) {
                                                $.ajax({
                                                    url: '/api/salesman/roles/{{ role_id }}/permission/' + permissionId,
                                                    method: 'DELETE',
                                                    dataType: 'json',
                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        new PNotify({
                                                            title: 'دسترسی با موفقیت برداشته شد.',
                                                            text: 'دسترسی با موفقیت برداشته شد.',
                                                            type: 'success',
                                                            styling: 'bootstrap3'
                                                        });
                                                        loadPermissions()
                                                    },
                                                    error: function (xhr, status, error) {
                                                        new PNotify({
                                                            title: 'خطا در برداشتن دسترسی',
                                                            text: xhr.responseText,
                                                            type: 'error',
                                                            styling: 'bootstrap3'
                                                        });
                                                    }
                                                });
                                            }

                                            function loadPermissions() {
                                                $.ajax({
                                                    url: '/api/salesman/roles/{{ role_id }}/permissions/',
                                                    method: 'GET',
                                                    dataType: 'json',
                                                    success: function (data) {
                                                        var tbody = $('#roles-tbody');
                                                        tbody.empty();
                                                        data.forEach(function (permission) {
                                                            var row = '<tr data-permission-id="' + permission.permission_id + '">' +
                                                                '<td class="a-center">' +
                                                                '<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>' +
                                                                '</td>' +
                                                                '<td>' + permission.permission_action + '</td>' +
                                                                '<td>' + permission.description + '</td>' +
                                                                '<td>' + (permission.role_has_permission ? '<span class="fa fa-check text-success" aria-hidden="true"></span>' : '<span class="fa fa-times text-danger" aria-hidden="true"></span>') + '</td>' +
                                                                '<td>' +
                                                                (permission.role_has_permission && {% if permissions|has_permission:"DELETE_ROLE_PERMISSION" %}true{% else %}false{% endif %} ? '<button class="btn btn-danger btn-xs" onclick="removePermission(\'' + permission.permission_id + '\')">حذف دسترسی</button>':'') +
                                                                (!permission.role_has_permission && {% if permissions|has_permission:"ADD_ROLE_PERMISSION" %}true{% else %}false{% endif %} ? '<button class="btn btn-success btn-xs" onclick="addPermission(\'' + permission.permission_id + '\')">اعطای دسترسی</button>' : '') +
                                                                '</td>' +
                                                                '</tr>';
                                                            tbody.append(row);
                                                        });
                                                        $('#datatable').DataTable();
                                                    },
                                                    error: function (xhr, status, error) {
                                                        new PNotify({
                                                            title: 'خطا در بارگذاری دسترسی ها',
                                                            text: xhr.responseText,
                                                            type: 'error',
                                                            styling: 'bootstrap3'
                                                        });
                                                    }
                                                });
                                            }
                                            $(document).ready(function () {
                                                $.ajaxSetup({
                                                    beforeSend: function (xhr, settings) {
                                                        if (!(/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) && !this.crossDomain) {
                                                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                                                        }
                                                    }
                                                });
                                                loadPermissions()
                                            });
                                        </script>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

    </div>
</div>

<script>
    function getRoleFormData() {
        return {
            title: $('#title').val() || null,
            description: $('#description').val() || null
        };
    }

    function setRoleFormData(data) {
        $('#title').val(data.title || '');
        $('#description').val(data.description || '');
    }
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            }
        });

        var isEdit = "{{ edit }}" == "True";
        var roleId = "{{ role_id|default:'' }}";

        if (isEdit && roleId) {
            $.ajax({
                url: '/api/salesman/roles/' + roleId,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    setRoleFormData(response);
                },
                error: function (xhr) {
                    new PNotify({
                        title: 'خطا در بارگذاری اطلاعات گروه',
                        text: xhr.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        }

        $('#role-form').on('submit', function (e) {
            e.preventDefault();

            var data = getRoleFormData();

            if (isEdit && roleId) {
                $.ajax({
                    url: '/api/salesman/roles/' + roleId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        new PNotify({
                            title: 'گروه با موفقیت ویرایش شد.',
                            text: 'گروه با موفقیت ویرایش شد.',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در ویرایش گروه',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            } else {
                $.ajax({
                    url: '/api/salesman/roles/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        new PNotify({
                            title: 'گروه جدید با موفقیت ایجاد شد.',
                            text: 'گروه جدید با موفقیت ایجاد شد.',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/roles/edit/' + response.id + '/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در ایجاد گروه',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            }
        });

        window.deleteRole = function () {
            if (!isEdit || !roleId) {
                new PNotify({
                    title: 'گروهی برای حذف انتخاب نشده است.',
                    text: 'گروهی برای حذف انتخاب نشده است.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
                return;
            }
            if (confirm('آیا مطمئن هستید که می‌خواهید این گروه را حذف کنید؟')) {
                $.ajax({
                    url: '/api/salesman/roles/' + roleId,
                    type: 'DELETE',
                    success: function (response) {
                        new PNotify({
                            title: 'گروه با موفقیت حذف شد.',
                            text: 'گروه با موفقیت حذف شد.',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/roles/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در حذف گروه',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            }
        };
    });
</script>

{% endblock %}