{% extends "layouts/base.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>فاکتور فروش</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>اطلاعات فاکتور فروش</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="sales-ledger-form" data-parsley-validate class="form-horizontal form-label-left">
                            <div id="sales-ledger-id-panel" class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">شناسه فاکتور</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="id" type="text" class="form-control" readonly="readonly">
                                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">انتخاب مشتری <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="customer-id" required disabled style="width: 100%">
                                        <option value="">در حال بارگذاری...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">انتخاب خدمت <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="service-id" required disabled style="width: 100%">
                                        <option value="">در حال بارگذاری...</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">ایجاد کننده فاکتور <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="created-by" required disabled style="width: 100%">
                                        <option value="">در حال بارگذاری...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">معرف</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="referer-id" disabled style="width: 100%">
                                        <option value="">در حال بارگذاری...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">قیمت پایه <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="price" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sales-price">قیمت فروش <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="sales-price" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sales-discount">تخفیف فروش</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="sales-discount" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-percent form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div id="trn-panel" class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="trn">شماره پیگیری تراکنش <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="trn" class="form-control col-md-7 col-xs-12" readonly="readonly" required>
                                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="approved-by">تایید شده توسط</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="approved-by" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="approved-at">تایید شده در</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="approved-at" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cancelled-by">لغو شده توسط</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="cancelled-by" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cancelled-at">لغو شده در</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="cancelled-at" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="created-at">ایجاد شده در</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="created-at" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="updated-at">آخرین بروزرسانی در</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="updated-at" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div id="comment-panel" class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comment">یادداشت<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="comment" class="form-control col-md-7 col-xs-12" placeholder="یادداشتی بگذارید..." required></textarea>
                                    <span class="fa fa-info-circle form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div id="status-panel" class="form-group hidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">وضعیت</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="label label-default mt-10 hidden" id="status-label-pending">درحال بررسی</span>
                                    <span class="label label-success mt-10 hidden" id="status-label-approved">تایید شده</span>
                                    <span class="label label-danger mt-10 hidden" id="status-label-rejected">رد شده</span>
                                    <span class="label label-warning mt-10 hidden" id="status-label-cancelled">لغو شده</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button id="create-btn" type="submit" class="btn btn-success hidden disabled" >ایجاد فاکتور و ارسال به مالی</button>
                                    <button id="save-btn" type="button" class="btn btn-success hidden" onclick="saveAndReSendalesLedger()" disabled>ذخیره و ارسال مجدد به مالی</button>
                                    <button id="approve-btn" type="button" class="btn btn-success hidden" onclick="approveSalesLedger()" disabled>تایید و ثبت</button>
                                    <button id="reject-btn" type="button" class="btn btn-danger pull-left hidden" onclick="rejectSalesLedger()" disabled>ارجاع به اپراتور</button>
                                    <button id="delete-btn" type="button" class="btn btn-danger pull-left hidden" onclick="deleteSalesLedger()" disabled>حذف سند فروش</button>
                                    <button id="cancel-btn" type="button" class="btn btn-danger pull-left hidden" onclick="cancelSalesLedger()" disabled>لغو بررسی</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="workflow-panel" class="col-md-12 col-sm-12 col-xs-12 hidden">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>گردش کار فاکتور فروش</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <div class="icheckbox_flat-green" style="position: relative;"><input
                                                    type="checkbox" id="check-all" class="flat"
                                                    style="position: absolute; opacity: 0;"><ins class="iCheck-helper"
                                                    style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                            </div>
                                        </th>
                                        <th class="column-title">مرحله</th>
                                        <th class="column-title">یادداشت</th>
                                        <th class="column-title">تاریخ</th>
                                        <th class="column-title no-link last">توسط</th>
                                    </tr>
                                </thead>

                                <tbody id="workflow-tbody">
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getSalesLedgerFormData() {
        return {
            customer_id: $('#customer-id').val(),
            service_id: $('#service-id').val(),
            created_by: $('#created-by').val(),
            referer_id: $('#referer-id').val(),
            price: parseFloat($('#price').val()),
            sales_price: parseFloat($('#sales-price').val()),
            sales_discount: parseFloat($('#sales-discount').val()),
            trn: $('#trn').val() || null,
            approved_by: $('#approved-by').val() || null,
            approved_at: $('#approved-at').val()|| null,
            cancelled_by: $('#cancelled-by').val() || null,
            cancelled_at: $('#cancelled-at').val() || null,
        };
    }
    function setSalesLedgerFormData(data) {
        if (data.customer_id) {
            var option = new Option(data.customer_first_name + ' ' + data.customer_last_name, data.customer_id, true, true);
            $('#customer-id').append(option).trigger('change');
        }
        if (data.service_id) {
            var option = new Option(data.service_title, data.service_id, true, true);
            $('#service-id').append(option).trigger('change');
        }
        if (data.created_by) {
            var option = new Option(data.created_by_name || data.created_by, data.created_by, true, true);
            $('#created-by').append(option).trigger('change');
        }
        if (data.referer_id) {
            var option = new Option(data.referer_name || data.referer_id, data.referer_id, true, true);
            $('#referer-id').append(option).trigger('change');
        }
        $('#price').val(data.price || '');
        $('#sales-price').val(data.sales_price || '');
        $('#sales-discount').val(data.sales_discount || '');
        $('#trn').val(data.trn || '');
        $('#approved-by').val(data.approved_by || '');
        $('#approved-at').val(data.approved_at || '');
        $('#cancelled-by').val(data.cancelled_by || '');
        $('#cancelled-at').val(data.cancelled_at || '');
        $('#created-at').val(data.created_at || '');
        $('#updated-at').val(data.updated_at || '');
        $('#id').val(data.id || '');
        renderWorkflowHistory(data.workflow_history);
        updateUIByStatus(data.status);
    }

    function renderWorkflowHistory(workflowHistory) {
        var $tbody = $('#workflow-tbody');
        $tbody.empty();
        if (!workflowHistory) return;
        var workflows = workflowHistory;
        if (typeof workflowHistory === 'string') {
            try {
                workflows = JSON.parse(workflowHistory);
            } catch (e) {
                workflows = [];
            }
        }
        if (!Array.isArray(workflows)) return;
        workflows.forEach(function (item, idx) {
            var actor = item.actor_name || '';
            var step = item.step || '';
            var comment = item.comment || '';
            var actionAt = item.action_at ? new Date(item.action_at).toLocaleString('fa-IR') : '';
            var row = '<tr>' +
                '<td></td>' +
                '<td>' + step + '</td>' +
                '<td>' + comment + '</td>' +
                '<td>' + actionAt + '</td>' +
                '<td>' + actor + '</td>' +
                '</tr>';
            $tbody.append(row);
        });
    }

    function commonUpdateUIByStatus() {
        $('#sales-ledger-id-panel').removeClass('hidden');
        $('#customer-id').parents('.form-group').removeClass('hidden');
        $('#service-id').parents('.form-group').removeClass('hidden');
        $('#created-by').parents('.form-group').removeClass('hidden');
        $('#referer-id').parents('.form-group').removeClass('hidden');
        $('#price').parents('.form-group').removeClass('hidden');
        $('#sales-price').parents('.form-group').removeClass('hidden');
        $('#sales-discount').parents('.form-group').removeClass('hidden');
        $('#status-panel').removeClass('hidden');
        $('#workflow-panel').removeClass('hidden');
    }

    function updateUIByStatus(status) {
        var userRole = "operator";
        var permissions = {{ permissions|safe }};

        if (
            status == 'INITIATE' &&
            permissions.includes('CREATE_INVOICE')
        ) {
            $('#customer-id').prop('disabled', false).parents('.form-group').removeClass('hidden');
            $('#service-id').prop('disabled', false).parents('.form-group').removeClass('hidden');
            $('#created-by').prop('disabled', false).parents('.form-group').removeClass('hidden');
            $('#referer-id').prop('disabled', false).parents('.form-group').removeClass('hidden');
            $('#price').removeAttr('readonly').parents('.form-group').removeClass('hidden');
            $('#sales-price').removeAttr('readonly').parents('.form-group').removeClass('hidden');
            $('#sales-discount').removeAttr('readonly').parents('.form-group').removeClass('hidden');
            $('#create-btn').removeClass('hidden disabled').prop('disabled', false);
            return;
        }
        if (permissions.includes('VIEW_ALL_INVOICES') || permissions.includes('VIEW_OWN_INVOICES')){
            if (status == 'PENDING') {
                
                commonUpdateUIByStatus();
                $('#status-label-pending').removeClass('hidden');

                if (permissions.includes('APPROVE_ALL_INVOICES')) {
                    $('#approve-btn').removeClass('hidden disabled').prop('disabled', false);
                    $('#trn').removeAttr('readonly').parents('.form-group').removeClass('hidden');
                    $('#comment-panel').removeClass('hidden');
                } 
                
                if (permissions.includes('REJECT_ALL_INVOICES')) {
                    $('#reject-btn').removeClass('hidden disabled').prop('disabled', false);
                    $('#comment-panel').removeClass('hidden');
                } 
                if (permissions.includes('CANCEL_ALL_INVOICES')) {
                    $('#cancel-btn').removeClass('hidden disabled').prop('disabled', false);
                    $('#comment-panel').removeClass('hidden');
                }
                return;
            }
            if (status == 'APPROVED') {
                commonUpdateUIByStatus();
                $('#status-label-approved').removeClass('hidden');
                return;
            }
            if (status == 'REJECTED') {
                commonUpdateUIByStatus(); 
                $('#status-label-rejected').removeClass('hidden');
                
                if (permissions.includes('CREATE_INVOICE')) {
                    $('#price').removeAttr('readonly').parents('.form-group').removeClass('hidden');
                    $('#sales-price').removeAttr('readonly').parents('.form-group').removeClass('hidden');
                    $('#sales-discount').removeAttr('readonly').parents('.form-group').removeClass('hidden');
                    $('#comment-panel').removeClass('hidden');
                    $('#save-btn').removeClass('hidden disabled').prop('disabled', false);
                }
                if (permissions.includes('DELETE_ALL_INVOICES') || permissions.includes('DELETE_OWN_INVOICES')) {
                    $('#cancel-btn').removeClass('hidden disabled').prop('disabled', false);
                }
                return;
            }
            if (status == 'CANCELLED') {
                commonUpdateUIByStatus();
                $('#status-label-cancelled').removeClass('hidden');
                return;
            }
        }
        
    }
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            }
        });
        var isInitiate = "{{ edit }}" != "True";
        var salesLedgerId = "{{ sales_ledger_id|default:'' }}";
        var salesLedgerData = null;
        var servicesLoaded = false;
        var usersLoaded = false;
        if (isInitiate) {
            updateUIByStatus('INITIATE');
        }
        
        // Load all users for customer, referer, and created_by selects
        $.ajax({
            url: '/api/salesman/users/',
            type: 'GET',
            dataType: 'json',
            success: function (users) {
                var $customer = $('#customer-id');
                var $referer = $('#referer-id');
                var $createdBy = $('#created-by');
                $customer.empty();
                $referer.empty();
                $createdBy.empty();
                $customer.append('<option value="">انتخاب مشتری</option>');
                $referer.append('<option value="">انتخاب معرف</option>');
                $createdBy.append('<option value="">انتخاب ایجادکننده</option>');
                users.forEach(function (user) {
                    var fullName = user.first_name + ' ' + user.last_name;
                    $customer.append($('<option>', { value: user.id, text: fullName }));
                    $referer.append($('<option>', { value: user.id, text: fullName }));
                    $createdBy.append($('<option>', { value: user.id, text: fullName }));
                });
                $customer.select2({ dir: 'rtl', language: 'fa', placeholder: 'انتخاب مشتری', minimumInputLength: 0, allowClear: true });
                $referer.select2({ dir: 'rtl', language: 'fa', placeholder: 'انتخاب معرف', minimumInputLength: 0, allowClear: true });
                $createdBy.select2({ dir: 'rtl', language: 'fa', placeholder: 'انتخاب ایجادکننده', minimumInputLength: 0, allowClear: true });
                usersLoaded = true;
                if (!isInitiate && salesLedgerData && servicesLoaded) {
                    setSalesLedgerFormData(salesLedgerData);
                }
            },
            error: function () {
                $('#customer-id').html('<option value="">خطا در بارگذاری کاربران</option>');
                $('#referer-id').html('<option value="">خطا در بارگذاری کاربران</option>');
                $('#created-by').html('<option value="">خطا در بارگذاری کاربران</option>');
                usersLoaded = true;
                new PNotify({
                    title: 'خطا در بارگذاری کاربران',
                    text: xhr.responseText,
                    type: 'error',
                    styling: 'bootstrap3'
                });
            }
        });
        // Load all services for service select
        $.ajax({
            url: '/api/salesman/services/',
            type: 'GET',
            dataType: 'json',
            success: function (services) {
                var $select = $('#service-id');
                $select.empty();
                $select.append('<option value="">انتخاب خدمت</option>');
                services.forEach(function (service) {
                    $select.append(
                        $('<option>', {
                            value: service.id,
                            text: service.title
                        })
                    );
                });
                $select.select2({ dir: 'rtl', language: 'fa', placeholder: 'انتخاب خدمت', minimumInputLength: 0, allowClear: true });
                servicesLoaded = true;
                if (!isInitiate && salesLedgerData && usersLoaded) {
                    setSalesLedgerFormData(salesLedgerData);
                }
            },
            error: function () {
                $('#service-id').html('<option value="">خطا در بارگذاری خدمات</option>');
                servicesLoaded = true;
                new PNotify({
                    title: 'خطا در بارگذاری خدمات',
                    text: xhr.responseText,
                    type: 'error',
                    styling: 'bootstrap3'
                });
            }
        });
        if (!isInitiate && salesLedgerId) {
            $.ajax({
                url: '/api/salesman/sales-ledger/' + salesLedgerId,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    salesLedgerData = response;
                    if (servicesLoaded && usersLoaded) {
                        setSalesLedgerFormData(salesLedgerData);
                    }
                },
                error: function (xhr) {
                    new PNotify({
                        title: 'خطا در بارگذاری اطلاعات فاکتور فروش',
                        text: xhr.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        }
        $('#sales-ledger-form').on('submit', function (e) {
            e.preventDefault();
            var data = getSalesLedgerFormData();
            if (!isInitiate && salesLedgerId) {
                $.ajax({
                    url: '/api/salesman/sales-ledger/' + salesLedgerId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        new PNotify({
                            title: 'فاکتور فروش با موفقیت ویرایش شد.',
                            text: response.message,
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/sales-ledger/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در ویرایش فاکتور فروش',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            } else {
                $.ajax({
                    url: '/api/salesman/sales-ledger/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        new PNotify({
                            title: 'فاکتور فروش جدید با موفقیت ایجاد شد.',
                            text: response.message,
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/sales-ledger/edit/' + response.id + '/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در ایجاد فاکتور فروش',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            }
        });
        window.deleteSalesLedger = function () {
            if (isInitiate || !salesLedgerId) {
                new PNotify({
                    title: 'فاکتور فروشی برای حذف انتخاب نشده است.',
                    text: 'فاکتور فروشی برای حذف انتخاب نشده است.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
                return;
            }
            if (confirm('آیا مطمئن هستید که می‌خواهید این سند فروش را حذف کنید؟')) {
                $.ajax({
                    url: '/api/salesman/sales-ledger/' + salesLedgerId,
                    type: 'DELETE',
                    success: function (response) {
                        new PNotify({
                            title: 'فاکتور فروش با موفقیت حذف شد.',
                            text: response.message,
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/sales-ledger/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در حذف فاکتور فروش',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            }
        };
        window.approveSalesLedger = function () {
            if (isInitiate || !salesLedgerId) {
                new PNotify({
                    title: 'فاکتور فروشی برای تایید انتخاب نشده است.',
                    text: 'فاکتور فروشی برای تایید انتخاب نشده است.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
                return;
            }
            var approvedBy = '{{ current_user }}';
            var trn = $('#trn').val() || null;
            var comment = $('#comment').val() || null;
            $.ajax({
                url: '/api/salesman/sales-ledger/' + salesLedgerId + '/approve',    
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    approved_by: approvedBy,
                    trn: trn,
                    comment: comment
                }),
                success: function (response) {
                    window.location.href = '/sales-ledger/edit/' + salesLedgerId + '/';
                },
                error: function (xhr) {
                    new PNotify({
                        title: 'خطا در تایید فاکتور فروش',
                        text: xhr.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        };
        window.rejectSalesLedger = function () {
            if (isInitiate || !salesLedgerId) {
                new PNotify({
                    title: 'فاکتور فروشی برای ارجاع انتخاب نشده است.',
                    text: 'فاکتور فروشی برای ارجاع انتخاب نشده است.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
                return;
            }
            var rejectedBy = '{{ current_user }}';
            var reason = $('#comment').val() || null;
            $.ajax({
                url: '/api/salesman/sales-ledger/' + salesLedgerId + '/reject', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    rejected_by: rejectedBy,
                    reason: reason
                }), 
                success: function (response) {
                    window.location.href = '/sales-ledger/edit/' + salesLedgerId + '/';
                },
                error: function (xhr) {
                    new PNotify({
                        title: 'خطا در ارجاع فاکتور فروش',
                        text: xhr.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        };
        window.saveAndReSendalesLedger = function () {
            if (isInitiate || !salesLedgerId) {
                new PNotify({
                    title: 'فاکتور فروشی برای ذخیره و ارسال مجدد انتخاب نشده است.',
                    text: 'فاکتور فروشی برای ذخیره و ارسال مجدد انتخاب نشده است.',
                    type: 'error',
                    styling: 'bootstrap3'   
                });
                return;
            }
            var price = parseFloat($('#price').val()) || null;
            var salesPrice = parseFloat($('#sales-price').val()) || null;
            var salesDiscount = parseFloat($('#sales-discount').val()) || null;
            var comment = $('#comment').val() || null;
            var data = {
                price: price,
                sales_price: salesPrice,
                sales_discount: salesDiscount,
                comment: comment
            };
            $.ajax({
                url: '/api/salesman/sales-ledger/' + salesLedgerId + '/resend', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    window.location.href = '/sales-ledger/edit/' + salesLedgerId + '/';
                },  
                error: function (xhr) {
                    new PNotify({
                        title: 'خطا در ذخیره و ارسال مجدد فاکتور فروش',
                        text: xhr.responseText,
                        type: 'error',
                        styling: 'bootstrap3'   
                    });
                }
            });
        };
        window.cancelSalesLedger = function () {
            if (isInitiate || !salesLedgerId) {
                new PNotify({
                    title: 'فاکتور فروشی برای لغو انتخاب نشده است.',
                    text: 'فاکتور فروشی برای لغو انتخاب نشده است.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
                return;
            }
            var cancelledBy = '{{ current_user }}';
            var reason = $('#comment').val() || null;
            $.ajax({
                url: '/api/salesman/sales-ledger/' + salesLedgerId + '/cancel',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    cancelled_by: cancelledBy,
                    reason: reason
                }),
                success: function (response) {
                    window.location.href = '/sales-ledger/edit/' + salesLedgerId + '/';
                },
                error: function (xhr) {
                    new PNotify({
                        title: 'خطا در لغو فاکتور فروش',
                        text: xhr.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        };
    });
</script>
{% endblock %} 