{% extends "layouts/base.html" %}
{% load custom_tags %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>لیست سرویس ها</h3>
            </div>
            {% if permissions|has_permission:"CREATE_ALL_SERVICES" %}
                <div class="title_right">
                    <a href="/services/create/" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> ایجاد سرویس جدید</a>
                </div>
            {% endif %}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            {% if permissions|has_permission:"VIEW_ALL_SERVICES_LIST" %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>سرویس ها سیستم</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>محصول</th>
                                    <th>عنوان سرویس</th>
                                    <th>توضیحات</th>
                                    <th>قیمت</th>
                                    <th>کمیسیون دارد؟</th>
                                    <th>تاریخ ایجاد</th>
                                    <th>تاریخ آخرین ویرایش</th>
                                    {% if permissions|has_permission:"UPDATE_ALL_SERVICES" or permissions|has_permission:"DELETE_ALL_SERVICES" or permissions|has_permission:"VIEW_ALL_SERVICES" %}
                                        <th>عملیات</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody id="services-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/salesman/services/',
            type: 'GET',
            dataType: 'json',
            success: function (services) {
                var tbody = $('#services-tbody');
                tbody.empty();
                services.forEach(function (service) {
                    var row = '<tr>' +
                        '<td>' + (service.product_title || '') + '</td>' +
                        '<td>' + (service.title || '') + '</td>' +
                        '<td>' + (service.description || '') + '</td>' +
                        '<td>' + (service.price || '') + '</td>' +
                        '<td>' + (service.has_commission ? 'بله' : 'خیر') + '</td>' +
                        '<td>' + (service.created_at ? new Date(service.created_at).toLocaleString('fa-IR') : '') + '</td>' +
                        '<td>' + (service.updated_at ? new Date(service.updated_at).toLocaleString('fa-IR') : '') + '</td>' +
                        {% if permissions|has_permission:"UPDATE_ALL_SERVICES" or permissions|has_permission:"DELETE_ALL_SERVICES" or permissions|has_permission:"VIEW_ALL_SERVICES" %}
                            '<td>' +
                            '<a href="/services/edit/' + service.id + '/" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> ویرایش</a>' +
                            '</td>' +
                        {% endif %}
                        '</tr>';
                    tbody.append(row);
                });
                $('#datatable').DataTable();
            },
            error: function (xhr, status, error) {
                new PNotify({
                    title: 'خطا در بارگذاری سرویس ها',
                    text: xhr.responseText,
                    type: 'error',
                    styling: 'bootstrap3'
                });
            }
        });
    });
</script>
{% endblock %}
