{% extends "layouts/base.html" %}
{% load custom_tags %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>ایجاد و ویرایش کاربر</h3>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            {% if permissions|has_permission:"VIEW_ALL_USERS" %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>اطلاعات کاربر</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="user-form" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">نام
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="first-name" required="required" 
                                    {% if edit == True and not permissions|has_permission:"UPDATE_ALL_USERS" %}
                                        readonly="readonly"
                                    {% endif %}
                                        class="form-control col-md-7 col-xs-12">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">نام
                                    خانوادگی <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="last-name" name="last-name" required="required"
                                    {% if edit == True and not permissions|has_permission:"UPDATE_ALL_USERS" %}
                                        readonly="readonly"
                                    {% endif %}    
                                    class="form-control col-md-7 col-xs-12">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nsid" class="control-label col-md-3 col-sm-3 col-xs-12">شماره ملی <span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="nsid" class="form-control col-md-7 col-xs-12" type="text"
                                        required="required"
                                        {% if edit == True and not permissions|has_permission:"UPDATE_ALL_USERS" %}
                                            readonly="readonly"
                                        {% endif %}
                                    >
                                    <span class="fa fa-id-card form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthdate">تاریخ تولد
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="birthdate" class="datePicker form-control col-md-7 col-xs-12"
                                    {% if edit == True and not permissions|has_permission:"UPDATE_ALL_USERS" %}
                                        readonly="readonly"
                                    {% endif %}    
                                    required="required" type="text">
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">ایمیل <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="email" class="form-control col-md-7 col-xs-12" required="required"
                                    {% if edit == True and not permissions|has_permission:"UPDATE_ALL_USERS" %}
                                        readonly="readonly"
                                    {% endif %}    
                                        type="text">
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            {% if edit == False %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">رمز عبور <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="password" class="form-control col-md-7 col-xs-12" required="required"
                                        type="password">
                                    <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password-confirm">تایید
                                    رمز عبور <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="password-confirm" class="form-control col-md-7 col-xs-12"
                                        required="required" type="password">
                                    <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    
                                    {% if edit == False and permissions|has_permission:"CREATE_ALL_USERS" %}
                                        <button type="submit" class="btn btn-success">
                                            ایجاد کاربر
                                        </button>
                                    {% elif edit == True and permissions|has_permission:"UPDATE_ALL_USERS" %}
                                        <button type="submit" class="btn btn-success">
                                            ویرایش کاربر
                                        </button>
                                    {% endif %}
                                    
                                    {% if edit == True %}
                                        {% if permissions|has_permission:"DELETE_ALL_USERS" %}
                                            <button type="button" class="btn btn-danger pull-left" onclick="deleteUser()">حذف کاربر</button>
                                        {% endif %}
                                        {% if permissions|has_permission:"CREATE_ALL_USERS" %}
                                            <a class="btn btn-primary pull-left" href="/users/create/">ایجاد کاربر جدید</a>
                                        {% endif %}
                                    {% endif %}
                                    
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="clearfix"></div>


            {% if edit == True %}
                {% if permissions|has_permission:"VIEW_USER_ROLES" %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>گروه بندی ها و سطوح دسترسی</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th>
                                                    <div class="icheckbox_flat-green" style="position: relative;"><input
                                                            type="checkbox" id="check-all" class="flat"
                                                            style="position: absolute; opacity: 0;"><ins class="iCheck-helper"
                                                            style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                </th>
                                                <th class="column-title">نام گروه</th>
                                                <th class="column-title">توضیحات</th>
                                                <th class="column-title">دسترسی دارد؟</th>
                                                <th class="column-title no-link last">عملیات</th>
                                            </tr>
                                        </thead>

                                        <tbody id="users-tbody">
                                        </tbody>
                                        <script>
                                            
                                            function addRole(roleId) {
                                                $.ajax({
                                                    url: '/api/salesman/users/{{ user_id }}/role/' + roleId,
                                                    method: 'POST',
                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        new PNotify({
                                                            title: 'دسترسی با موفقیت اعطا شد.',
                                                            text: 'دسترسی با موفقیت اعطا شد.',
                                                            type: 'success',
                                                            styling: 'bootstrap3'
                                                        });
                                                        loadRoles()
                                                    },
                                                    error: function (xhr, status, error) {
                                                        new PNotify({
                                                            title: 'خطا در اعطای دسترسی',
                                                            text: xhr.responseText,
                                                            type: 'error',
                                                            styling: 'bootstrap3'
                                                        });
                                                    }
                                                });
                                            }

                                            function removeRole(roleId) {
                                                $.ajax({
                                                    url: '/api/salesman/users/{{ user_id }}/role/' + roleId,
                                                    method: 'DELETE',
                                                    dataType: 'json',
                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        new PNotify({
                                                            title: 'دسترسی با موفقیت برداشته شد.',
                                                            text: 'دسترسی با موفقیت برداشته شد.',
                                                            type: 'success',
                                                            styling: 'bootstrap3'
                                                        });
                                                        loadRoles()
                                                    },
                                                    error: function (xhr, status, error) {
                                                        new PNotify({
                                                            title: 'خطا در برداشتن دسترسی',
                                                            text: xhr.responseText,
                                                            type: 'error',
                                                            styling: 'bootstrap3'
                                                        });
                                                    }
                                                });
                                            }

                                            function loadRoles() {
                                                $.ajax({
                                                    url: '/api/salesman/users/{{ user_id }}/roles/',
                                                    method: 'GET',
                                                    dataType: 'json',
                                                    success: function (data) {
                                                        var tbody = $('#users-tbody');
                                                        tbody.empty();
                                                        data.forEach(function (role) {
                                                            var row = '<tr data-role-id="' + role.role_id + '">' +
                                                                '<td class="a-center">' +
                                                                '<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>' +
                                                                '</td>' +
                                                                '<td>' + role.title + '</td>' +
                                                                '<td>' + role.description + '</td>' +
                                                                '<td>' + (role.user_has_role ? '<span class="fa fa-check text-success" aria-hidden="true"></span>' : '<span class="fa fa-times text-danger" aria-hidden="true"></span>') + '</td>' +
                                                                '<td>' +
                                                                (role.user_has_role && {% if permissions|has_permission:"DELETE_USER_ROLE" %}true{% else %}false{% endif %} ? '<button class="btn btn-danger btn-xs" onclick="removeRole(\'' + role.role_id + '\')">حذف دسترسی</button>':'') +
                                                                (!role.user_has_role && {% if permissions|has_permission:"ADD_USER_ROLE" %}true{% else %}false{% endif %} ? '<button class="btn btn-success btn-xs" onclick="addRole(\'' + role.role_id + '\')">اعطای دسترسی</button>' : '') +
                                                                '</td>' +

                                                                
                                                                '</tr>';
                                                            tbody.append(row);
                                                        });
                                                        $('#datatable').DataTable();
                                                    },
                                                    error: function (xhr, status, error) {
                                                        new PNotify({
                                                            title: 'خطا در بارگذاری دسترسی ها',
                                                            text: xhr.responseText,
                                                            type: 'error',
                                                            styling: 'bootstrap3'
                                                        });
                                                    }
                                                });
                                            }
                                            $(document).ready(function () {
                                                $.ajaxSetup({
                                                    beforeSend: function (xhr, settings) {
                                                        if (!(/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) && !this.crossDomain) {
                                                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                                                        }
                                                    }
                                                });
                                                loadRoles()
                                            });
                                        </script>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

    </div>
</div>

<script>
    
    datePickerConfig = {
        format: 'YYYY/MM/DD',
        onSelect: function (unixDate) {
            const selectedDate = new Date(unixDate);

            const isoFormattedDate = selectedDate.toISOString();
            $('#birthdate').attr('date-iso', isoFormattedDate);
        }
    }

    function getUserFormData() {
        return {
            first_name: $('#first-name').val(),
            last_name: $('#last-name').val(),
            nsid: $('#nsid').val(),
            birthdate: $('#birthdate').attr('date-iso'),
            email: $('#email').val(),
            password: $('#password').val()
        };
    }

    function setUserFormData(data) {
        $('#first-name').val(data.first_name || '');
        $('#last-name').val(data.last_name || '');
        $('#nsid').val(data.nsid || '');
        $('#birthdate').attr('value', data.birthdate || '');
        $('#email').val(data.email || '');
    }
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type)) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            }
        });
        var now = new Date();
        $('#birthdate').attr('date-iso', now.toISOString());
        $('.datePicker').pDatepicker(datePickerConfig);

        var isEdit = "{{ edit }}" == "True";
        var userId = "{{ user_id|default:'' }}";

        if (isEdit && userId) {
            $.ajax({
                url: '/api/salesman/users/' + userId,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    setUserFormData(response);
                    $('.datePicker').pDatepicker(datePickerConfig);

                },
                error: function (xhr) {
                    new PNotify({
                        title: 'خطا در بارگذاری اطلاعات کاربر',
                        text: xhr.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        }

        $('#user-form').on('submit', function (e) {
            e.preventDefault();

            if ($('#password').val() !== $('#password-confirm').val()) {
                new PNotify({
                    title: 'رمز عبور و تایید آن یکسان نیستند.',
                    text: 'رمز عبور و تایید آن یکسان نیستند.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
                return;
            }

            var data = getUserFormData();

            if (isEdit && userId) {
                $.ajax({
                    url: '/api/salesman/users/' + userId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        new PNotify({
                            title: 'کاربر با موفقیت ویرایش شد.',
                            text: 'کاربر با موفقیت ویرایش شد.',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/users/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در ویرایش کاربر',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            } else {
                $.ajax({
                    url: '/api/salesman/users/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        new PNotify({
                            title: 'کاربر جدید با موفقیت ایجاد شد.',
                            text: 'کاربر جدید با موفقیت ایجاد شد.',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/users/edit/' + response.id + '/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در ایجاد کاربر',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            }
        });

        window.deleteUser = function () {
            if (!isEdit || !userId) {
                new PNotify({
                    title: 'کاربری برای حذف انتخاب نشده است.',
                    text: 'کاربری برای حذف انتخاب نشده است.',
                    type: 'error',
                    styling: 'bootstrap3'
                });
                return;
            }
            if (confirm('آیا مطمئن هستید که می‌خواهید این کاربر را حذف کنید؟')) {
                $.ajax({
                    url: '/api/salesman/users/' + userId,
                    type: 'DELETE',
                    success: function (response) {
                        new PNotify({
                            title: 'کاربر با موفقیت حذف شد.',
                            text: 'کاربر با موفقیت حذف شد.',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        window.location.href = '/users/';
                    },
                    error: function (xhr) {
                        new PNotify({
                            title: 'خطا در حذف کاربر',
                            text: xhr.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            }
        };
    });
</script>

{% endblock %}