{% extends "layouts/base.html" %}
{% load custom_tags %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>لیست کاربران</h3>
            </div>
            {% if permissions|has_permission:"CREATE_ALL_USERS" %}
                <div class="title_right">
                    <a href="/users/create/" class="btn btn-primary pull-left">ایجاد کاربر جدید</a>
                </div>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="row">
            {% if permissions|has_permission:"VIEW_ALL_USERS_LIST" %}
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>کاربران سیستم
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>کد ملی</th>
                                        <th>تاریخ تولد</th>
                                        <th>ایمیل</th>
                                        <th>تاریخ ثبت نام</th>
                                        <th>تاریخ آخرین ورود</th>
                                        {% if permissions|has_permission:"UPDATE_ALL_USERS" or permissions|has_permission:"DELETE_ALL_USERS" %}
                                            <th>عملیات</th>
                                        {% endif %}
                                    </tr>
                                </thead>


                                <tbody id="users-tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        $.ajax({
            url: '/api/salesman/users/',
            type: 'GET',
            dataType: 'json',
            success: function (users) {
                var tbody = $('#users-tbody');
                tbody.empty();
                users.forEach(function (user) {
                    var row = '<tr>' +
                        '<td>' + (user.first_name || '') + '</td>' +
                        '<td>' + (user.last_name || '') + '</td>' +
                        '<td>' + (user.nsid || '') + '</td>' +
                        '<td>' + (user.birthdate ? user.birthdate.split("T")[0] : '') + '</td>' +
                        '<td>' + (user.email || '') + '</td>' +
                        '<td>' + (user.created_at ? user.created_at.split("T")[0] : '') + '</td>' +
                        '<td>' + (user.last_login_at ? user.last_login_at.Time.split("T")[0] : '') + '</td>' +
                        {% if permissions|has_permission:"UPDATE_ALL_USERS" or permissions|has_permission:"DELETE_ALL_USERS" or permissions|has_permission:"ADD_USER_ROLE" or permissions|has_permission:"DELETE_USER_ROLE" or permissions|has_permission:"VIEW_USER_ROLES" or permissions|has_permission:"VIEW_ALL_USERS" %}
                            '<td>' +
                            '<a href="/users/edit/' + user.id + '/" class="btn btn-primary btn-xs">ویرایش</a>' +
                            '</td>' +
                        {% endif %}
                        '</tr>';
                    tbody.append(row);
                });
                $('#datatable').DataTable();
            },
            error: function (xhr, status, error) {
                new PNotify({
                    title: 'خطا در بارگذاری کاربران',
                    text: xhr.responseText,
                    type: 'error',
                    styling: 'bootstrap3'
                });
            }
        });
    });
</script>

{% endblock %}